# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:3000) -- The timeout in milliseconds for the version update check.
# 
# Sat Oct 05 01:34:14 GMT+03:00 2013
allowDebugOutput=false
allowUpdateCheck=false
updateTimeoutMilliseconds=3000
